<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>
<body>
<style>
    body {
        background-color: #feee7d;
    }

    .thumbnail {
        background-color: #cff09e;
    }

    h3 {
        color: #6C49B8;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .item-photo {
        width: 40px;
        height: 40px;
    }

    .nav {
        margin-bottom: 5px;
    }
</style>
<div class="container">
    <div>
        <h4>
            <%- include partials/welcome.ejs %>
        </h4>
        <ul class="breadcrumb">
            <li>點餐</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form id="foo" action="/order" method="post">

                <div class="row">
                    <div class="col-sm-12 clearfix">
                        <div role="tabpanel">

                            <!-- Nav tabs -->
                            <ul class="nav nav-pills" role="tablist">
                                <li role="presentation" class="active"><a href="#SP" aria-controls="SP" role="tab"
                                                                          data-toggle="tab">特餐</a></li>
                                <li role="presentation"><a href="#Rice" aria-controls="Rice" role="tab"
                                                           data-toggle="tab">米飯</a>
                                </li>
                                <li role="presentation"><a href="#Noodle" aria-controls="Noodle" role="tab"
                                                           data-toggle="tab">麵食</a>
                                </li>
                                <li role="presentation"><a href="#Dumplings" aria-controls="Dumplings" role="tab"
                                                           data-toggle="tab">水餃</a>
                                </li>
                                <li role="presentation"><a href="#Fry" aria-controls="Fry" role="tab" data-toggle="tab">炸物</a>
                                </li>
                                <li role="presentation"><a href="#soup" aria-controls="soup" role="tab"
                                                           data-toggle="tab">湯</a>
                                </li>
                                <li role="presentation"><a href="#Drink" aria-controls="Drink" role="tab"
                                                           data-toggle="tab">飲料</a>
                                </li>
                            </ul>
                            <% if (typeof error !== 'undefined') { %>
                            <div class="col-sm-12">
                                <div class="label label-danger">
                                    <%- error.message %>
                                </div>
                            </div>
                            <% } %>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="SP">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <% items.forEach(function(item) { %>
                                            <% if (item.type === '特餐'){ %>
                                            <h3 class="h" style="padding-bottom: 0px;margin-bottom: 0px;">
                                                <% if (item.amount.big == 0 && item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">已售完</label>
                                                </span>
                                                <% }else if (item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">小份售完</label>
                                                </span>
                                                <% }else if (item.amount.big == 0 ){ %>
                                                <span>
                                                    <label class="label label-danger">大份售完</label>
                                                </span>
                                                <% }else { %>
                                                <% } %>
                                                <strong><%- item.name %></strong>
                                                <small class="s"> <%- item.price.small %> </small>
                                    <span>
                                        <% if(item.photo) { %>
                                        <img src="/photo/<%- item.photo %>" class="item-photo">
                                        <% } else { %>
                                        <img src="/img/default.jpg" class="item-photo">
                                        <% } %>
                                    </span>
                                            </h3>
                                            <p style="padding-top: 0px;">升級大份(+<%- item.price.big - item.price.small %>
                                                元)</p>
                                            <input type="hidden" value="<%- item.id %>" name="id">
                                            <input type="hidden" value="<%- item.amount.big %>" name="maxBig">
                                            <input type="hidden" value="<%- item.amount.small %>" name="maxSmall">
                                            <input type="hidden" value="<%- item.name %>" name="name">

                                            <div class="form-group input-group">
                                                <span class="input-group-addon">BIG</span>
                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.big %>" name="amountBig"
                                                       value="0" readonly="readonly">
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">SMALL</span>

                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.small %>"
                                                       name="amountSmall" value="0" readonly="readonly">

                                            </div>
                                            <% } %>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Rice">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <% items.forEach(function(item) { %>
                                            <% if (item.type === '飯類'){ %>
                                            <h3 class="h" style="padding-bottom: 0px;margin-bottom: 0px;">
                                                <% if (item.amount.big == 0 && item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">已售完</label>
                                                </span>
                                                <% }else if (item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">小份售完</label>
                                                </span>
                                                <% }else if (item.amount.big == 0 ){ %>
                                                <span>
                                                    <label class="label label-danger">大份售完</label>
                                                </span>
                                                <% }else { %>
                                                <% } %>
                                                <strong><%- item.name %></strong>
                                                <small class="s"> <%- item.price.small %> </small>
                                    <span>
                                        <% if(item.photo) { %>
                                        <img src="/photo/<%- item.photo %>" class="item-photo">
                                        <% } else { %>
                                        <img src="/img/default.jpg" class="item-photo">
                                        <% } %>
                                    </span>
                                            </h3>
                                            <p style="padding-top: 0px;">升級大份(+<%- item.price.big - item.price.small %>
                                                元)</p>
                                            <input type="hidden" value="<%- item.id %>" name="id">
                                            <input type="hidden" value="<%- item.amount.big %>" name="maxBig">
                                            <input type="hidden" value="<%- item.amount.small %>" name="maxSmall">
                                            <input type="hidden" value="<%- item.name %>" name="name">

                                            <div class="form-group input-group">
                                                <span class="input-group-addon">BIG</span>
                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.big %>" name="amountBig"
                                                       value="0" readonly="readonly">
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">SMALL</span>

                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.small %>"
                                                       name="amountSmall" value="0" readonly="readonly">

                                            </div>
                                            <% } %>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Noodle">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <% items.forEach(function(item) { %>
                                            <% if (item.type === '麵食'){ %>
                                            <h3 class="h" style="padding-bottom: 0px;margin-bottom: 0px;">
                                                <% if (item.amount.big == 0 && item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">已售完</label>
                                                </span>
                                                <% }else if (item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">小份售完</label>
                                                </span>
                                                <% }else if (item.amount.big == 0 ){ %>
                                                <span>
                                                    <label class="label label-danger">大份售完</label>
                                                </span>
                                                <% }else { %>
                                                <% } %>
                                                <strong><%- item.name %></strong>
                                                <small class="s"> <%- item.price.small %> </small>
                                    <span>
                                        <% if(item.photo) { %>
                                        <img src="/photo/<%- item.photo %>" class="item-photo">
                                        <% } else { %>
                                        <img src="/img/default.jpg" class="item-photo">
                                        <% } %>
                                    </span>
                                            </h3>
                                            <p style="padding-top: 0px;">升級大份(+<%- item.price.big - item.price.small %>
                                                元)</p>
                                            <input type="hidden" value="<%- item.id %>" name="id">
                                            <input type="hidden" value="<%- item.amount.big %>" name="maxBig">
                                            <input type="hidden" value="<%- item.amount.small %>" name="maxSmall">
                                            <input type="hidden" value="<%- item.name %>" name="name">

                                            <div class="form-group input-group">
                                                <span class="input-group-addon">BIG</span>
                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.big %>" name="amountBig"
                                                       value="0" readonly="readonly">
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">SMALL</span>

                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.small %>"
                                                       name="amountSmall" value="0" readonly="readonly">

                                            </div>
                                            <% } %>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Dumplings">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <% items.forEach(function(item) { %>
                                            <% if (item.type === '水餃'){ %>
                                            <h3 class="h" style="padding-bottom: 0px;margin-bottom: 0px;">
                                                <% if (item.amount.big == 0 && item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">已售完</label>
                                                </span>
                                                <% }else if (item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">小份售完</label>
                                                </span>
                                                <% }else if (item.amount.big == 0 ){ %>
                                                <span>
                                                    <label class="label label-danger">大份售完</label>
                                                </span>
                                                <% }else { %>
                                                <% } %>
                                                <strong><%- item.name %></strong>
                                                <small class="s"> <%- item.price.small %> </small>
                                    <span>
                                        <% if(item.photo) { %>
                                        <img src="/photo/<%- item.photo %>" class="item-photo">
                                        <% } else { %>
                                        <img src="/img/default.jpg" class="item-photo">
                                        <% } %>
                                    </span>
                                            </h3>
                                            <p style="padding-top: 0px;">升級大份(+<%- item.price.big - item.price.small %>
                                                元)</p>
                                            <input type="hidden" value="<%- item.id %>" name="id">
                                            <input type="hidden" value="<%- item.amount.big %>" name="maxBig">
                                            <input type="hidden" value="<%- item.amount.small %>" name="maxSmall">
                                            <input type="hidden" value="<%- item.name %>" name="name">

                                            <div class="form-group input-group">
                                                <span class="input-group-addon">BIG</span>
                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.big %>" name="amountBig"
                                                       value="0" readonly="readonly">
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">SMALL</span>

                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.small %>"
                                                       name="amountSmall" value="0" readonly="readonly">

                                            </div>
                                            <% } %>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Fry">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <% items.forEach(function(item) { %>
                                            <% if (item.type === '炸物'){ %>
                                            <h3 class="h" style="padding-bottom: 0px;margin-bottom: 0px;">
                                                <% if (item.amount.big == 0 && item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">已售完</label>
                                                </span>
                                                <% }else if (item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">小份售完</label>
                                                </span>
                                                <% }else if (item.amount.big == 0 ){ %>
                                                <span>
                                                    <label class="label label-danger">大份售完</label>
                                                </span>
                                                <% }else { %>
                                                <% } %>
                                                <strong><%- item.name %></strong>
                                                <small class="s"> <%- item.price.small %> </small>
                                    <span>
                                        <% if(item.photo) { %>
                                        <img src="/photo/<%- item.photo %>" class="item-photo">
                                        <% } else { %>
                                        <img src="/img/default.jpg" class="item-photo">
                                        <% } %>
                                    </span>
                                            </h3>
                                            <p style="padding-top: 0px;">升級大份(+<%- item.price.big - item.price.small %>
                                                元)</p>
                                            <input type="hidden" value="<%- item.id %>" name="id">
                                            <input type="hidden" value="<%- item.amount.big %>" name="maxBig">
                                            <input type="hidden" value="<%- item.amount.small %>" name="maxSmall">
                                            <input type="hidden" value="<%- item.name %>" name="name">

                                            <div class="form-group input-group">
                                                <span class="input-group-addon">BIG</span>
                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.big %>" name="amountBig"
                                                       value="0" readonly="readonly">
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">SMALL</span>

                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.small %>"
                                                       name="amountSmall" value="0" readonly="readonly">

                                            </div>
                                            <% } %>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="soup">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <% items.forEach(function(item) { %>
                                            <% if (item.type === '湯類'){ %>
                                            <h3 class="h" style="padding-bottom: 0px;margin-bottom: 0px;">
                                                <% if (item.amount.big == 0 && item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">已售完</label>
                                                </span>
                                                <% }else if (item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">小份售完</label>
                                                </span>
                                                <% }else if (item.amount.big == 0 ){ %>
                                                <span>
                                                    <label class="label label-danger">大份售完</label>
                                                </span>
                                                <% }else { %>
                                                <% } %>
                                                <strong><%- item.name %></strong>
                                                <small class="s"> <%- item.price.small %> </small>
                                    <span>
                                        <% if(item.photo) { %>
                                        <img src="/photo/<%- item.photo %>" class="item-photo">
                                        <% } else { %>
                                        <img src="/img/default.jpg" class="item-photo">
                                        <% } %>
                                    </span>
                                            </h3>
                                            <p style="padding-top: 0px;">升級大份(+<%- item.price.big - item.price.small %>
                                                元)</p>
                                            <input type="hidden" value="<%- item.id %>" name="id">
                                            <input type="hidden" value="<%- item.amount.big %>" name="maxBig">
                                            <input type="hidden" value="<%- item.amount.small %>" name="maxSmall">
                                            <input type="hidden" value="<%- item.name %>" name="name">

                                            <div class="form-group input-group">
                                                <span class="input-group-addon">BIG</span>
                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.big %>" name="amountBig"
                                                       value="0" readonly="readonly">
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">SMALL</span>

                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.small %>"
                                                       name="amountSmall" value="0" readonly="readonly">

                                            </div>
                                            <% } %>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="Drink">
                                    <div class="thumbnail">
                                        <div class="caption">
                                            <% items.forEach(function(item) { %>
                                            <% if (item.type === '飲料'){ %>
                                            <h3 class="h" style="padding-bottom: 0px;margin-bottom: 0px;">
                                                <% if (item.amount.big == 0 && item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">已售完</label>
                                                </span>
                                                <% }else if (item.amount.small == 0){ %>
                                                <span>
                                                    <label class="label label-danger">小份售完</label>
                                                </span>
                                                <% }else if (item.amount.big == 0 ){ %>
                                                <span>
                                                    <label class="label label-danger">大份售完</label>
                                                </span>
                                                <% }else { %>
                                                <% } %>
                                                <strong><%- item.name %></strong>
                                                <small class="s"> <%- item.price.small %> </small>
                                    <span>
                                        <% if(item.photo) { %>
                                        <img src="/photo/<%- item.photo %>" class="item-photo">
                                        <% } else { %>
                                        <img src="/img/default.jpg" class="item-photo">
                                        <% } %>
                                    </span>
                                            </h3>
                                            <p style="padding-top: 0px;">升級大份(+<%- item.price.big - item.price.small %>
                                                元)</p>
                                            <input type="hidden" value="<%- item.id %>" name="id">
                                            <input type="hidden" value="<%- item.amount.big %>" name="maxBig">
                                            <input type="hidden" value="<%- item.amount.small %>" name="maxSmall">
                                            <input type="hidden" value="<%- item.name %>" name="name">

                                            <div class="form-group input-group">
                                                <span class="input-group-addon">BIG</span>
                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.big %>" name="amountBig"
                                                       value="0" readonly="readonly">
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">SMALL</span>

                                                <input class="form-control spinner" type="number"
                                                       max="<%- item.amount.small %>"
                                                       name="amountSmall" value="0" readonly="readonly">

                                            </div>
                                            <% } %>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <button class="btn btn-success pull-right" id="orderBtn" type="button">ORDER</button>
                        <a href="/" class="btn btn-primary">首頁</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
<link rel='stylesheet' href='/sheetstyle/jquery.bootstrap-touchspin.min.css'/>
<script src="javascripts/jquery.bootstrap-touchspin.min.js"></script>
<script>


    $(function () {
        var foo = $("#foo");
        var orderBtn = $("#orderBtn");

        $(".spinner").TouchSpin({
            initval: 0,
            min: 0,
            postfix_extraclass: "btn btn-default"

        });

        orderBtn.click(function () {

            $(this).attr('disabled', 'disabled');
            $(this).text('正在送出中...');
            foo.submit();
        });

    });


</script>

</html>

